#main-window {
    background-color: #17181A;
}

#menu {
    background-color: #6272A4;
    color: #ffffff;
    font-size: 24px;
    font-family: "Inter";
    
}

#logo {
    background-color: #6272A4;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Just Me Again Down Here', sans-serif;
    
}

#menu-item:hover {
    background-color: #44475A;
}

@font-face {
    font-family: 'Just Me Again Down Here';
    src: url('JustMeAgainDownHere-Regular.ttf') format('truetype');
}