#main-window {
    background-color: #0A0D11;
}

#menu {
    background-color: #6272A4;
    color: #ffffff;
    font-size: 24px;
    font-family: "Inter";
}

#menu-item:hover {
    background-color: #44475A;
}

#temperature-info {
    color: #ffffff;
    font-size: 96px;
    font-family: "Inter";
}

#other-info {
    color: #ffffff;
    font-size: 24px;
    font-family: "Inter";
}
